/* Stil za glavni kontejner */
.todo-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Dodavanje sjene za bolji kontrast */
}

/* Naslov liste zadataka */
h1 {
  text-align: center;
  font-size: 28px;
  color: #000080; /* Boja teksta */
  margin-bottom: 20px; /* Razmak ispod naslova */
  font-weight: bold;
}

/* Stil za naslove kategorija i zadataka */
.naslovi {
  color: #000080; /* Boja naslova */
}

/* Stil za dodavanje nove kategorije */
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-right: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* Stil za dugmad */
button {
  padding: 12px 24px;
  margin-top: 12px;
  background: linear-gradient(to right, #003580, #007bff);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s;
}

button:hover {
  background: linear-gradient(to right, #0056b3, #003580);
  transform: scale(1.05);
}

/* Stil za odabir kategorije */
select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #000080; /* Tamno plava pozadina */
  color: white; /* Bijela slova */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

option {
  background-color: #000080; /* Tamno plava pozadina */
  color: white; /* Bijela slova */
}

/* Stil za listu zadataka */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Stil za stavke liste zadataka */
li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000080; /* Tamno plava pozadina */
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodavanje sjene */
  position: relative;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

/* Stil za dugmad za brisanje zadataka */
button.delete {
  background-color: #f44336;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s;
  margin-top: 10px; /* Dodavanje razmaka između zadatka i gumba za brisanje */
}

button.delete:hover {
  background-color: #e53935; /* Blagi efekt za hover */
  transform: scale(1.05);
}
.task-text p{
  color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .todo-container {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  input, select {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  li {
    align-items: flex-start;
    position: relative;
  }
}